{% extends 'users/base.html' %}
{% block head %}
    <title>Cheque</title>
{% endblock head %}
{% block content %}
<!-- <div class="ui container">
    <div class="grid">
        <form class="ui form" action="" method="post">
            {% csrf_token %}
            <h2 class="ui dividing header">Cheque Details</h2>
            <div class="field">
                <label>Bank</label>
                <select class="ui fluid dropdown">
                    <option value="">Select</option>
                    <option value="Allahabad Bank">Allahabad Bank</option>
                    <option value="Andhra Bank">Andhra Bank</option>
                    <option value="Axis Bank">Axis Bank</option>
                    <option value="Bank of Bahrain and Kuwait">Bank of Bahrain and Kuwait</option>
                    <option value="Bank of Baroda">Bank of Baroda</option>
                    <option value="Bank of India">Bank of India</option>
                    <option value="Bank of Maharashtra">Bank of Maharashtra</option>
                    <option value="Canara Bank">Canara Bank</option>
                    <option value="Central Bank of India">Central Bank of India</option>
                    <option value="City Union Bank">City Union Bank</option>
                    <option value="Corporation Bank">Corporation Bank</option>
                    <option value="Deutsche Bank">Deutsche Bank</option>
                    <option value="Development Credit Bank">Development Credit Bank</option>
                    <option value="Dhanlaxmi Bank">Dhanlaxmi Bank</option>
                    <option value="Federal Bank">Federal Bank</option>
                    <option value="ICICI Bank">ICICI Bank</option>
                    <option value="IDBI Bank">IDBI Bank</option>
                    <option value="Indian Bank">Indian Bank</option>
                    <option value="Indian Overseas Bank">Indian Overseas Bank</option>
                    <option value="IndusInd Bank">IndusInd Bank</option>
                    <option value="ING Vysya Bank">ING Vysya Bank</option>
                    <option value="Jammu and Kashmir Bank">Jammu and Kashmir Bank</option>
                    <option value="Karnataka Bank Ltd">Karnataka Bank Ltd</option>
                    <option value="Karur Vysya Bank">Karur Vysya Bank</option>
                    <option value="Kotak Bank">Kotak Bank</option>
                    <option value="Laxmi Vilas Bank">Laxmi Vilas Bank</option>
                    <option value="Oriental Bank of Commerce">Oriental Bank of Commerce</option>
                    <option value="Punjab National Bank">Punjab National Bank</option>
                    <option value="Punjab & Sind Bank">Punjab & Sind Bank</option>
                    <option value="Shamrao Vitthal Co-operative Bank">Shamrao Vitthal Co-operative Bank</option>
                    <option value="South Indian Bank">South Indian Bank</option>
                    <option value="State Bank of Bikaner & Jaipur">State Bank of Bikaner & Jaipur</option>
                    <option value="State Bank of Hyderabad">State Bank of Hyderabad</option>
                    <option value="State Bank of India">State Bank of India</option>
                    <option value="State Bank of Mysore">State Bank of Mysore</option>
                    <option value="State Bank of Patiala">State Bank of Patiala</option>
                    <option value="State Bank of Travancore">State Bank of Travancore</option>
                    <option value="Syndicate Bank">Syndicate Bank</option>
                    <option value="PTamilnadu Mercantile Bank Ltd.">Tamilnadu Mercantile Bank Ltd.</option>
                    <option value="UCO Bank">UCO Bank</option>
                    <option value="Union Bank of India">Union Bank of India</option>
                    <option value="Vijaya Bank">Vijaya Bank</option>
                    <option value="Yes Bank Ltd">Yes Bank Ltd</option>
                </select>
            </div>

            <div class="field">
                <label>Cheque Number</label>
                <input type="text" name="cheque_number" placeholder="Cheque Number">
            </div>

            <h4 class='ui dividing header'>Date Issued</h4>
            <div class="three fields">
                <div class="field">
                    <label>Month Issued</label>
                    <select class="ui fluid search dropdown" name="issued_month">
                    <option value="">Select</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                    </select>
                </div>
                <div class="three wide field">
                    <label>Year</label>
                    <input type="text" name="issued_year" placeholder="Year(YYYY)">
                </div>
                <div class="two wide field">
                    <label>Date</label>
                    <input type="text" name="issued_date" placeholder="Date(DD)">
                </div>
            </div>

            <h4 class='ui dividing header'>Date Assigned</h4>
            <div class="three fields">
                <div class="field">
                    <label>Month Assigned</label>
                    <select class="ui fluid search dropdown" name="assigned_month">
                    <option value="">Select</option>
                    <option value="01">January</option>
                    <option value="02">February</option>
                    <option value="03">March</option>
                    <option value="04">April</option>
                    <option value="05">May</option>
                    <option value="06">June</option>
                    <option value="07">July</option>
                    <option value="08">August</option>
                    <option value="09">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                    </select>
                </div>
                <div class="three wide field">
                    <label>Year</label>
                    <input type="text" name="assigned_year" placeholder="Year(YYYY)">
                </div>
                <div class="two wide field">
                    <label>Date</label>
                    <input type="text" name="assigned_date" placeholder="Date(DD)">
                </div>
            </div>

            <div class="field">
                <label>Amount</label>
                <input type="text" name="amount" placeholder="Amount">
            </div>

            <div class="field">
                <label></label>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui positive button" href="" type='submit' value='submit'>Submit</div>
        </form>
    </div>
</div> -->

<h1>Custom Django Form</h1>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Submit</button>
</form>


{% endblock content %}

