 {% extends 'users/base.html' %}
 {% block head %}
 <title>Edit Permission of {{user}}</title>
 {% endblock head %}
 {% block content %}
<div class="ui container">
    <div class="ui hidden divider"></div>
    <div class="ui orange header">Edit Permissions</div>
    <div class="ui form">
        <form method="POST">
            {% csrf_token %}
           {{form}}
           <div class="ui hidden divider"></div>
           <input type="submit" class="ui positive button" value='Submit'>
        </form>
    </div>
</div>
 {% endblock content %}