{% load static %}
<html>
    <head>
        {% block head %}
        {% endblock head %}
        <link rel="shortcut icon" href="{% static 'img/medassist.png' %}" type="image/x-icon">  

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        <style>
            a#Logo-Text
            {
                margin-right:50%;
            }
            
            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }
            .main.container {
                margin-top: 10em;
            }
            .wireframe {
                margin-top: 2em;
            }
            .ui.footer.segment {
                margin-top:15em;
                padding: 5em 0em;
            }
        </style>

    </head>

    <body>
            <div class="ui menu">

                <div class="item">
                    <a href="{% url 'home' %}">
                        <div id="tooltip" class="ui red medium button" data-tooltip="Home Page" data-position="bottom left">
                            <i class="home icon"></i>
                        </div>
                    </a>
                </div>
                <div class='item'>
                    <a class='ui teal basic button' id="tooltip" data-tooltip="Purchase" data-position="bottom left" href="{% url 'test' %}"><i class="shopping cart icon"></i></a>
                </div>
                <div class='item'>
                    <a class='ui teal basic button' id="tooltip" data-tooltip="Sale" data-position="bottom left" href="{% url 'sale' %}"><i class="Rupee sign icon"></i></a>
                </div>
                <div class='item'>
                    <a class='ui teal basic button' id="tooltip" data-tooltip="Report" data-position="bottom left" href="{% url 'test' %}"><i class="chart line icon"></i></a>
                </div>
                <div class='item'>
                    <a class='ui teal basic button' id="tooltip" data-tooltip="Search" data-position="bottom left" href="{% url 'test' %}"><i class="search icon"></i></a>
                </div>
                <div class='item'>
                    <a class='ui teal basic button' id="tooltip" data-tooltip="GST Return" data-position="bottom left" href="{% url 'test' %}"><i class="dollar sign icon"></i>
                </div></a>
                <div class='item'>
                    <a class='ui teal basic button' id="tooltip" data-tooltip="Tools" data-position="bottom left" href="{% url 'test' %}"><i class="paperclip icon"></i></a>
                </div>
                
                <div class="right item">
                    {% if request.user.is_authenticated %} 
                        <a class="ui negative button" id="tooltip" data-tooltip="Logout"  data-position="bottom right" href="{% url 'logout' %}">Logout</a>
                    {% else %}
                        <a class="ui positive button" id="tooltip" data-tooltip="Login"  data-position="bottom right" href="{% url 'home' %}">Login</a>
                    {% endif %}
                </div>
                {% if request.user.is_authenticated %} 
                    <div class="item">
                        <a class="ui  button" id="tooltip" data-tooltip="Settings"  data-position="bottom right" href="{% url 'settings' %}"><i class="cogs icon"></i></a>
                    </div>
                {% endif %}
            </div>


            
       
        

        <!--Required Scripts -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    {% block content %}
    {% endblock content %}

    {% block footer %}
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
          <div class="ui stackable inverted divided grid">
            <div class="three wide column">
              <h4 class="ui inverted header">User</h4>
              <div class="ui inverted link list">
                <a href="{% url 'register' %}" class="item">Register Staff</a>
                <a href="{% url 'home' %}" class="item">SuperAdmin Panel</a>
                
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Group 2</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Link One</a>
                <a href="#" class="item">Link Two</a>
                
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Group 3</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Link One</a>
                <a href="#" class="item">Link Two</a>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">MedAssistance ERP</h4>
              <p>It's an ERP solution to Manage inventory of pharmacies around India. It's to power retailers so that they don't have to rely on costly softwares for their operations. This solution is NOT properietary and open sourced.</p>
            </div>
          </div>
          <div class="ui inverted section divider"></div>
          <!-- <img src="{% static 'img/medassist.png' %}" class="ui centered mini image"> -->
          <div class="ui horizontal inverted small divided link list">
            
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui yellow header">&copy; All rights Reserved by Pantomath</div>
        </div>
      </div>
    {% endblock footer %}

    

    <script>
        $('#tooltip').popup();
    </script>
        {% block script %}
        {% endblock script %}

    
    </body>

</html>