{% load static %}
<html>
    <head>
        {% block head %}
        {% endblock head %}
        <link rel="shortcut icon" href="{% static 'img/medassist.png' %}" type="image/x-icon">  

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
        
        

        <style>
            a#Logo-Text
            {
                margin-right:50%;
            }
            
            .ui.menu .item img.logo {
                margin-right: 1.5em;
            }
            .wireframe {
                margin-top: 2em;
            }
            .ui.footer.segment {
                margin-top:15em;
                padding: 5em 0em;
            }
            
            .custom-menu {
            display: none;
            z-index: 1000;
            position: absolute;
            overflow: hidden;
            border: 1px solid #CCC;
            white-space: nowrap;
            font-family: sans-serif;
            background: #FFF;
            color: #333;
            border-radius: 5px;
            padding: 0;
        }


            .custom-menu li {
                padding: 8px 12px;
                cursor: pointer;
                list-style-type: none;
                transition: all .3s ease;
                user-select: none;
            }

            .custom-menu li:hover {
                background-color: #DEF;
            }
        </style>

    </head>

<body>


  <ul class='custom-menu'>
    <li data-action="bill">Create Bill</li>
    <li data-action="report">See Reports</li>
    <li data-action="backup">Take Backup</li>
    <li data-action="cheque">Cheque</li>
    
  </ul>


    <div class="ui secondary pointing menu">
      <div class="ui container">
        {% if request.path == '/' %}
          <a class="active item" href="{% url 'home' %}">Home</a>  
        {% else %}
          <a class="item" href="{% url 'home' %}">Home</a>  
        {% endif %}
        
        {% if request.path == '/bill/sale/' %}
          <a class="active item" href="{% url 'sale' %}">Sale</a>
        {% else %}
        <a class="item" href="{% url 'sale' %}">Sale</a>
        {% endif %}
        
        {% if request.path == '/bill/purchase/' %}
          <a class="active item" href="{% url 'purchase' %}">Purchase</a>
        {% else %}
          <a class="item" href="{% url 'purchase' %}">Purchase</a>
        {% endif %}
        
        <div class="item ui simple dropdown">
          <span class="text">Report</span>
          <i class="dropdown icon"></i>
          <div class="menu">

            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text">Sale Report</span>
              <div class="menu">
                <a class="item" href="{% url 'saleReportDuration' %}">By Duration</a>
                <a class="item" href="{% url 'saleReportCompany' %}">By Company</a>
                <a class="item" href="{% url 'saleReportDate' %}">Custom Date</a>
                <a class="item" href='#'>Total Analysis</a>
              </div>
            </div>

            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text">Purchase Report</span>
              <div class="menu">
                <a class="item">By Month</a>
                <a class="item">By Year</a>
                <a class="item">By Company</a>
                <a class="item">Custom Date</a>
                <a class="item">Total Analysis</a>
              </div>
            </div>

            <div class="item">
              <i class="dropdown icon"></i>
              <span class="text">Stock Report</span>
              <div class="menu">
                <a class="item">By Product</a>
                <a class="item">By Company</a>
              </div>
            </div>

          </div>
        </div>

        {% if request.path == '/test/' %}
          <a class="active item" href="{% url 'test' %}">Search</a>
        {% else %}
          <a class="item" href="{% url 'test' %}">Search</a>
        {% endif %}
        
        <a class="item" href="{% url 'gst' %}">GST Return</a>

        {% if request.path == '/tools/' %}
          <a class="active item" href="{% url 'tools' %}">Tools</a>
        {% else %}
          <a class="item" href="{% url 'tools' %}">Tools</a>
        {% endif %}

        <div class="right item">
            {% if request.user.is_authenticated %} 
                <a class="ui negative button" href="{% url 'logout' %}">Logout</a>
                
            {% else %}
                <a class="ui positive button" href="{% url 'home' %}">Login</a>
            {% endif %}
        </div>
        {% if request.user.is_authenticated %} 
          <div class="item">
              <a class="ui  button" id="tooltip" data-tooltip="Settings"  data-position="bottom right" href="{% url 'settings' %}"><i class="cogs icon"></i></a>
          </div>
        {% endif %}
                
      </div>       
    </div>

<!--Required Scripts -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/semantic.js' %}"></script>


{% block content %}
{% endblock content %}

    {% block footer %}
    <div class="ui inverted vertical footer segment">
        <div class="ui center aligned container">
          <div class="ui stackable inverted divided grid">
            <div class="three wide column">
              <h4 class="ui inverted header">User</h4>
              <div class="ui inverted link list">
                <a href="{% url 'manage_staff' %}" class="item">Manage Staff</a>
                <a href="{% url 'super_admin' %}" class="item">SuperAdmin Panel</a>
                
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Add/Edit</h4>
              <div class="ui inverted link list">
                <a href="{% url 'sale' %}" class="item">Bill</a>
                <a href="{% url 'cheque' %}" class="item"> Cheque</a>
                <a href="{% url 'company' %}" class="item">Company</a>
                <a href="{% url 'product' %}" class="item"> Product</a>
                <a href="{% url 'batch' %}" class="item"> Batch</a>
                <a href="{% url 'create-wholeseller' %}" class="item">Wholeseller</a>
                
              </div>
            </div>
            <div class="three wide column">
              <h4 class="ui inverted header">Group 3</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Link One</a>
                <a href="#" class="item">Link Two</a>
              </div>
            </div>
            <div class="seven wide column">
              <h4 class="ui inverted header">MedAssistance ERP</h4>
              <p>It's an ERP solution to Manage inventory of pharmacies around India. It's to power retailers so that they don't have to rely on costly softwares for their operations. This solution is NOT proprietary and open sourced.</p>
            </div>
          </div>
          <div class="ui inverted section divider"></div>
          
          <div class="ui horizontal inverted small divided link list">
            
            <a class="item" href="#">Contact Us</a>
            <a class="item" href="#">Terms and Conditions</a>
            <a class="item" href="#">Privacy Policy</a>
          </div>
          <div class="ui hidden divider"></div>
          <div class="ui yellow header">&copy; All rights Reserved by Pantomath</div>
        </div>
      </div>
    {% endblock footer %}

    

    <script>
        $('#tooltip').popup();

        $('.ui.dropdown')
          .dropdown();
    </script>

    <script>
        $(document).ready(function(){
            $(".menu a").on('click', function(){
                $('.menu a.active').removeClass('active');
                $(this).addClass('active');
            });
        });
    </script>

        {% block script %}
        {% endblock script %}

        <!-- Right click custom js -->
        <script>
          // $(".custom-menu").hide();
          $(document).bind("contextmenu",function(e){
            e.preventDefault();
            $(".custom-menu").finish().toggle(100).css({
              top:e.pageY+"px",
              left:e.pageX+"px"
            });
          });
          

          $(document).bind("mousedown", function (e) {
    
              
              if (!$(e.target).parents(".custom-menu").length > 0) {
                  
                  
                  $(".custom-menu").hide(100);
              }
          });

          $(".custom-menu li").click(function(){
    
    
            switch($(this).attr("data-action")) {
                
                
                case "bill": window.location.replace(" {% url 'sale' %} ");
                break;
                case "report": window.location.replace("{% url 'test' %}");
                break;
                case "backup": window.location.replace("{% url 'backup' %}");
                alert('Enter password at terminal/cmd');
                break;
                case "cheque":window.location.replace("{% url 'cheque' %}");
                break;
            }
          
            
            $(".custom-menu").hide(100);
          });
        </script>
    
    </body>

</html>