{% extends 'users/base.html' %}
{% block head %}
    <title>Some Error Occurred. Kindly contact the support</title>
{% endblock head %}
{% block content %}
<div class="ui container">
    <div class="ui red segment header">Error Occured!</div>
    <div class="ui hidden divider"></div>
    <div class="two wide column segment">
    <h2 class="ui red header segment"><u>Error : {{error}}</h2></u>

        <div class="ui hidden divider"></div>
        <strong>Contact Support</strong>
    
    </div>
</div>
{% endblock content %}