{% extends 'users/base.html' %}
{% load static %}


{% block content %}
    <!-- <div class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui left aligned grid">
            <div class="ui segment">
                <h1 class="ui red  center aligned header">MedAssistance ERP</h1>
                <img src="{% static 'img/medassist-logo.png' %}">
            </div>
        </div>
        <div class="ui right aligned grid">
            <div class="ui segment">
                <h1>Login</h1>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="ui red message">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="ui red message">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
             
                <div class="ui form">

                    <form method='post'>
                        {% csrf_token %}

                            {% for field in form.visible_fields %}
                                <div class="ui left labeled button">
                                    <div class="ui basic right pointing label">
                                        {{field.label_tag}}
                                    </div>
                                    {{field}}
                                </div>    
                            
                            {% endfor %}
                            
                        <br /><br />
                        <input type="submit" class="ui positive button" value='Login'>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <div class="ui container">
        <div class="ui grid">
            <div class="eight wide column">
                <h1 class="ui red left aligned header">MedAssistance ERP</h1>
                <img src="{% static 'img/medassist-logo.png' %}">
            </div>

            <div class="eight wide column">
                <div class="ui segment">
                    <h1>Login</h1>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="ui red message">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="ui red message">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                
                    <div class="ui form">

                        <form method='post'>
                            {% csrf_token %}

                                {% for field in form.visible_fields %}
                                    <div class="ui left labeled button">
                                        <div class="ui basic right pointing label">
                                            {{field.label_tag}}
                                        </div>
                                        {{field}}
                                    </div>    
                                
                                {% endfor %}
                                
                            <br /><br />
                            <input type="submit" class="fluid ui positive button" value='Login'>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}