{% extends 'users/base.html' %}
{% load static %}
{% block head %}
    <title>Home</title>
    
{% endblock head %}

{% block content %}
    <div class="ui hidden divider"></div>

    <div class="ui container">
        <div class="ui relaxed grid">
            <div class="eight wide column">
                <h1 class="ui red center aligned header">MedAssistance ERP</h1>
                <img class="ui centered image" src="{% static 'img/medassist-logo.png' %}">
            </div>

            {% if not user.is_authenticated %}
                <div class="eight wide column">
                    <div class="ui segment">
                        <h1>Login</h1>
                        {% if form.errors %}
                            {% for field in form %}
                                {% for error in field.errors %}
                                    <div class="ui red message">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in form.non_field_errors %}
                                <div class="ui red message">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                    
                        <div class="ui form">
                            <form method='post'>
                                {% csrf_token %}
                                    {% for field in form.visible_fields %}
                                        <div class="ui left labeled button">
                                            <div class="ui basic right pointing label">
                                                {{field.label_tag}}
                                            </div>
                                            {{field}}
                                        </div>                                  
                                        <br />
                                    {% endfor %}

                                {% if request.GET.next %}
                                    <input type="hidden" name='next' value="{{request.GET.next}}">
                                {% endif %}
                                
                                <div class="ui hidden divider"></div>
                                <input type="submit" class="ui fluid positive button" value='Login'>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="eight wide column">
                    <div class="ui segment">
                        <h1 class="ui orange segment">
                            Choose appropriate actions from menu bar
                        </h1>

                    </div>
                </div>
                {% endif %}  
        </div>
    </div>
   
{% endblock %}

    {% endif %}
{% endblock %}

{% block script %}
<script>
$('.message .close')
  .on('click', function() {
    $(this)
      .closest('.message')
      .transition('fade')
    ;
  }) ;
</script>
{% endblock script %}

