{% extends 'users/base.html' %}
{% load static %}
{% block head %}
    <title>Home</title>
    
{% endblock head %}

{% block content %}
    <div class="ui container">
        <div class="ui hidden divider"></div>
        <div class="ui center aligned grid">
            <div class="ui teal segment">
            <h1 class="ui red header center aligned">MedAssistance ERP</h1>
                <img src="{% static 'img/medassist-logo.png' %}">
            </div>
        </div>
    </div>
{% endblock %}