{% extends 'users/base.html' %}
{% block head %}        
    <title>Login</title>
{% endblock head %}
{% block content %}        
        <div class="ui container">
            <div class="column four wide">
                <h1>Login</h1>
                <div class="ui form">
                    <form method='post'>
                        {% csrf_token %}
                        {{form}}
                    
            
                        <br /><br />
                        <input type="submit" class="ui positive button" value='Login'>
                    </form>
                </div>
            </div>
        </div>
{% endblock content %}        