{% load static %}
<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="{% static 'users/semantic.min.css' %}">
    </head>
    <body>
        
        
        <div class="ui container">
            <div class="column four wide">
                <h1>Login</h1>
                <div class="ui form">
                    <form method='post'>
                        {% csrf_token %}
                        {{form}}
                    
                </div>
                <br />
                <input type="submit" class="ui positive button" value='Login'>
            </form>
            </div>
        </div>

        <script src="{% static 'users/semantic.min.js' %}" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
    </body>

</html>