{% extends 'users/base.html' %}
{% block head %}
    <title>Privacy Policy</title>
{% endblock head %}

{% block content %}
<div class="ui container">
    <h1 class="ui header orange segment">
        Privacy Policy
    </h1>
    <div class="ui five wide segment">
        <div class="ui hidden divider"></div>
        <div class="ui bulleted list">
            <div class="item">We don't log any information about any of the users other than the data that users specifically share with us.</div>
            <div class="item">Only data we have on users, is the data that users specifically send us for analysis.</div>
            <div class="item">Users can choose data arguments that they want to send, but for convinience we have made some templates to support users.</div>
            <div class="item">We don't charge any money from users except for service -  "Support" and "Data Analysis".</div>        
            <div class="item">We can change our Privacy Policy without notifying users specifically.</div>
        </div>
        <div class="ui hidden divider"></div>
    </div>
</div>
{% endblock content %}