{% extends 'users/base.html' %}
{% block head %}
    <title>Register Users</title>
    
{% endblock head %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="ui container center aligned grid">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned orange segment">
                <h1 class="ui orange header">
                    Login to register!
                </h1>
            </div>
        </div>
    {% else %}

        <div class="ui hidden divider"></div>

        <!-- <div class="ui  grid center aligned" id="form">
            <div class="ui five wide column center aligned segment ">
                <div class="three wide column grid ">
                    
                    <h1 class="ui orange header segment">
                        Register your staff!
                    </h1>
                </div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="ui red message">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="ui red message">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="ui hidden divider"></div>
                <div class="ui form segment">
                    <form method='post'>
                        {% csrf_token %}
                        {% for field in form.visible_fields %}
                                    <div class="ui left labeled button">
                                        <div class="ui basic right pointing label">
                                            {{field.label_tag}}
                                        </div>
                                        {{field}}
                                    </div>    
                                    
                                    <br />
                                    <div class="ui hidden divider"></div>
                        {% endfor %}
                        
                        <h3 class="ui red header">Access Level :</h3>
                        <div class="ui selection dropdown">
                                <input type="hidden" name="access_level" required />
                                <i class="dropdown icon"></i>
                                <div class="default text">Access_level</div>
                                <div class="menu">
                                    <div class="item" data-value="1">Basic</div>
                                    <div class="item" data-value="2">Intermediate</div>
                                    <div class="item" data-value="3">Admin</div>
                                </div>
                        </div>

                          <div class="ui hidden divider"></div>
                          <h4 class="ui teal header">Phone :</h4>

                          <div class="ui input">
                            <input type="text" placeholder="Phone Number" name='phone' required />
                          </div>

                        <div class="ui hidden divider"></div>
                        <div class="field">
                            <label>Address</label>
                            <textarea rows="2" name="address" required></textarea>
                        </div>

                        <div class="ui hidden divider"></div>
                            <input type="submit" class="ui positive button" value='Register'>
                    </form>
                </div>
            </div>
        </div> -->

        <div class="ui grid centered aligned">
            <div class="ui eight wide column centered aligned">
                <h1 class="ui header">
                    Register your staff!
                </h1>

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="ui red message">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="ui red message">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                
                <div class="ui hidden divider"></div>
                <form method="post" class="ui form">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="field">
                            <h4 class="ui left floated header">{{field.label_tag}}</h4>
                            {{field}}
                        </div>
                        <br>    
                    {% endfor %}
                    

                    <div class="fields">
                        <div class="nine wide field">
                            <h4 class="ui header">Access Level</h4>
                            <select name="access_level" class="ui fluid dropdown" required>
                                <option value="">Access Level</option>
                                <option value="1">Basic</option>
                                <option value="2">Intermediate</option>
                                <option value="3">Admin</option>
                            </select>
                        </div>
                        <div class="seven wide field">
                            <h4 class="ui header">Phone :</h4>
                            <div class="field">
                                <input type="text" placeholder="Phone Number" name='phone' required />
                            </div>
                        </div>     
                    </div>
                    <br>
                    <div class="field">
                        <h4>Address</h4>
                        <textarea rows="2" name="address" required></textarea>
                    </div>

                    <div class="ui hidden divider"></div>
                    <input type="submit" class="ui positive large button" value='Register'>
                </form>
            </div>
        </div>

    {% endif %}
{% endblock content %}
{% block script %}
<script>
 $('.ui.dropdown')
  .dropdown();

$('.ui.form').form({
    fields:{
        access_level:'empty'
    }
});

</script>
{% endblock script %}