{% extends 'users/base.html' %}
{% block head %}
    <title>Register Users</title>
{% endblock head %}

{% block content %}
    {% if not request.user.is_authenticated %}
        <div class="ui container center aligned grid">
            <div class="ui hidden divider"></div>
            <div class="ui center aligned orange segment">
                <h1 class="ui orange header">
                    Login to register!
                </h1>
            </div>
        </div>
    {% else %}
    <div class="ui container center aligned grid">
        <div class="ui hidden divider"></div>
            <div class="ui center five aligned teal segment grid"> 
                <div class="ui hidden divider"></div>
                <h1 class="ui header">
                    Register Your Staff!
                </h1>
                <br />
                
                
                
            </div>
        </div>
    {% endif %}
{% endblock content %}