{% extends 'users/base.html' %}
{% block head %}   
    <title>Reminders</title>
    <style>
        .margin-apply
        {
            margin:5px;
        }
    </style>
{% endblock head %}
{% block content %}
    <div class="ui container red segment">
        <h1 class="ui red header">
            Reminders
        </h1>
        <div class="ui hidden divider"></div>
        <div class="ui container">
            <h4 class="ui red segment center aligned header">
                Near Expiry
            </h4>
            <br />
            <div class="ui five wide grid container">
            {% for i in expiry %}
            <div class="ui card margin-apply" style="margin: 2% !important;">
                <div class="content">
                  <div class="header">{{i.product}}</div>
                  <div class="meta">
                    
                  </div>
                  <p><br />
                    Batch No: {{i.batch_number}}<br />
                    Expiry Date : {{i.expiry}}<br />
                    Stock : {{i.quantity}}<br />
                  </p>
                </div>

            </div>
            
            {% empty %}
            <div class="ui hidden divider"></div>
            <h3 class="ui blue header">No Entry to show</h3>
            <div class="ui hidden divider"></div><div class="ui hidden divider"></div>
            {% endfor %}
           </div>
            <h4 class="ui red center aligned header segment">
                Stock About to Finish
            </h4>
            <div class="ui five wide grid container">
            {% for i in stock %}
                
                <div class="ui card margin-apply" style="margin: 2% !important;">
                    <div class="content">
                      <div class="header">{{i.product}}</div>
                      <div class="meta">
                        
                      </div>
                      <p><br />
                        Batch No: {{i.batch_number}}<br />
                        Stock : {{i.quantity}}<br />
                      </p>
                    </div>
    
                </div>
            {% empty %}
                <div class="ui hidden divider"></div>
                <h3 class="ui blue header">No Entry to show</h3>
                <div class="ui hidden divider"></div><div class="ui hidden divider"></div>
            {% endfor %}
        </div>
        <h4 class="ui red center aligned header segment">
            Cheques
        </h4>
        
        <div class="ui five wide grid container">
            {% for i in cheque %}
                <div class="ui card margin-apply" style="margin: 2% !important;">
                    <div class="content">
                    <div class="header">#{{i.cheque_num}}</div>
                    <div class="meta">
                        
                    </div>
                    <p><br />
                        Party: {{i.party_wholeseller}}<br />
                        Date for cheque is assigned : {{i.cheque_for_assigned}}<br />
                        Amount : {{i.amount}} <br />
                    </p>
                    </div>

                </div>
            {% empty %}
                <div class="ui hidden divider"></div>
                <h3 class="ui blue header">No Entry to show</h3>
                <div class="ui hidden divider"></div><div class="ui hidden divider"></div>
            {% endfor %}
        </div>
        
        </div>
    </div>
    
{% endblock content %}