{% extends 'users/base.html' %}
{% block head %}
<title> Settings</title>

{% endblock head %}
{% block content %}
    <div class="ui container">
            <h1>Settings</h1>
            <div class="ui divider"></div>
            <div class="ui divided items">
                <div class="item">
                  <div class="ui tiny image">
                    <i class="user outline icon large" style="font-size: xx-large;"></i>
                  </div>
                  <div class="middle aligned content">
                        <a href="{% url 'profile' %}">Profile</a>
                  </div>
                </div>
                <div class="item">
                  <div class="ui tiny image">
                    <i class="eye slash icon" style="font-size: xx-large;"></i>
                  </div>
                  <div class="middle aligned content">
                    <a href="{% url 'change-pass' %}">Change Password</a>
                  </div>
                </div>
                
              </div>

    </div>
{% endblock content %}