{% extends 'users/base.html' %}
{% block head %}
    <title>Settings</title>
    <style>
        .field input {
            border-top-style: hidden !important;
            border-right-style: hidden !important;
            border-left-style: hidden !important;
            border-bottom-style: groove !important;
        }
    </style>
{% endblock head %}
{% block content %}
   <!-- <div class="ui grid center aligned ">
        <div class="ten wide column segment">
            <h1 class="ui header">
                Settings
            </h1>
            <div class="ui hidden divider"></div>
            <div class="ui grid">
                <button class="circular ui icon button" data-tooltip="Back"  data-position="bottom right" id="tooltip">
                    <a href="{{request.META.HTTP_REFERER|escape}}"><i class="angle left icon"></i></a>
                </button>
            </div>
            <div class="ui hidden divider"></div>
            
        </div>
    </div>
    <div class="ui grid center aligned">
        <div class=" two wide row">
            <div class="eight wide column">
                
                    <div class="ui positive segment">
                        <h1 class="ui orange header">Change Password</h1> 
                        <div class="ui hidden divider"></div>  

                       
                        <div class="ui form">
                            <form method="post">
                                {% csrf_token %}
                                
                                <div class="ui hidden divider"></div>  
                                <div class="ui labeled input">
                                    <div class="ui label">
                                        Current
                                      </div>
                                    <input type="password" name="cur_pass" placeholder="Current Password" required>
                                </div>
                                <br />
                                <div class="ui hidden divider"></div>  
                                <div class="ui hidden divider"></div>  
                                <div class="ui labeled input">
                                    <div class="ui label">New Password</div>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="pass1" placeholder="Password" required>
                                    </div>
                                </div>
                                <br />
                                <div class="ui hidden divider"></div>  
                                <div class="ui labeled input">
                                    <div class="ui label">Confirm Password</div>
                                    <div class="ui left icon input">
                                        <i class="lock icon"></i>
                                        <input type="password" name="pass2" placeholder="Password Confirmation" required>
                                    </div>
                                </div>
                                <div class="ui hidden divider"></div>  
                                <input type="submit" class="ui positive large button" value='Change'>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div> -->

<div class="ui large center aligned header">Welcome, {{request.user.username}}!!</div>
<div class="ui hidden divider"></div>

<div class="ui container">
    <button class="circular ui icon button" data-tooltip="Back"  data-position="bottom right" id="tooltip">
        <a href="{{request.META.HTTP_REFERER|escape}}"><i class="angle left icon"></i></a>
    </button>
    <br><br>
    <div class="ui center aligned grid">
        <div class="ui large header">Reset Password</div>
        <div class="two wide row">
            <div class="seven wide column">
                <br>
                <form method='post' class='ui large form'>
                    {% csrf_token %}
                    <div class="field">
                        <label class='ui tiny left aligned header'>Current Password: </label>
                        <input type="password" name='cur_pass' required />
                    </div>
                    <div class="field">
                        <label class='ui tiny left aligned header'>New Password: </label>
                        <input type="password" name='pass1' required />
                    </div>
                    <div class="field">
                        <label class='ui tiny left aligned header'>Confirm Password: </label>
                        <input type="password" name='pass2' required />
                    </div>
                    <br>
                    <input type="submit" class="ui positive large button" value='Update'>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

