{% extends 'users/base.html' %}
{% block head %}
    <title>Terms and Conditions</title>
{% endblock head %}

{% block content %}
<div class="ui container">
    <h1 class="ui header orange segment">
        Terms and Conditions
    </h1>
    <div class="ui five wide segment">
        <div class="ui hidden divider"></div>
        <div class="ui bulleted list">
            <div class="item">By using this "MedAssistance ERP" or any of it's modification, you accept all of terms and conditions mentioned below.</div>
            <div class="item">You accept our privacy policy.</div>
           
              
            <div class="item">If you find any bug in the webapp "MedAssistance ERP" or it's modification you can test it locally, and report it.</div>
            <div class="item">But apart from testing, there can be no scenario to exploit any of the bugs.</div>
            <div class="item">You can <b>not</b> contact individuals using "MedAssistance ERP" solution, unless you are allowed by official "MedAssistance ERP" team to do so.</div>
            
            
            <div class="item">We can change our terms and conditions without notifying users specifically.</div>
        </div>
        <div class="ui hidden divider"></div>
    </div>
</div>
{% endblock content %}