{% extends 'users/base.html' %}

{% block head %}
<style>
    .main{
        font-size: 3.5vw !important;
    }
    .tools{
        margin-top: 5vh !important;
        margin-bottom: 5vh !important;
        font-size: 3vw !important;
    }
    .card .content .header{
        font-size: 2vw !important;
    }
    .card .content p{
        margin-top: 1.5vh !important;
        font-size: 1.2vw !important;
    }
</style>
<title>
    Tools
</title>
{% endblock head %}

{% block content %}
<div class='ui huge centered header tools'>Tools</div>

<div class="ui container">
    <div class="ui three column grid">
        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="center aligned header">Cheque</div>
                    <div class="center aligned description">
                        <p>A tool that can be used to save the Information about the cheque issued for the party. </p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned">
                        <a class="ui primary button" href="{% url 'cheque' %}">Cheque</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="center aligned header">Add Company</div>
                    <div class="center aligned description">
                        <p>Add the Information about the manufacturer.</p>
                    </div>
                </div>
                <div class="extra content">
                    <div class="center aligned">
                        <a class="ui primary button" href="{% url 'company' %}">Add Company</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui card">
                <div class="content">
                    <div class="center aligned header">Auto Backup</div>
                    <div class="center aligned description">
                        <p>It's a script written for PostgreSQL to auto-backup the database.</p>
                        
                    </div>
                </div>
                
                <div class="extra content">
                    <div class="center aligned">
                        <a class="ui primary button" href="{% url 'backup' %}">Backup</a>
                    </div>
                </div>
            </div>
            <div class="ui pointing red basic label">
                Please Enter PostgreSQL password in terminal/cmd
              </div>
        </div>
    </div>
</div>
{% endblock content %}