<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Sale Invoice</title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    
    <style>
        address{
            display: block;
        }
        h3#bill_id{
            margin-left:100%;
        }
    </style>
</head>

<body>

<!------ Include the above in your HEAD tag ---------->
<h3 id="bill_id">BILL NO : {{bill_id}}</h3>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
    		<div class="invoice-title">
    			<h1 style="font-size: xxx-large;">Invoice</h1>
            </div>
            <hr />
            <div class="Shop Name">
                <address>
                    <h1>{{shop_name}}</h1>
                    <h2>{{address}}</h2>
                    <h2>GSTIN : {{GST}}</h2>
                    <h2>Contact : {{contact}}</h2>
                </address>                    
            </div>
    		<hr>
    		<div class="row">
    			<div >
    				<address>
    				<h2 style="font-size: xx-large; padding-bottom: -20px;"><strong ><u>Billed To:</u></strong></h2><br />
                        <h3 style="display: inline; font-size: x-large;"><strong>Customer Name : </strong></h3><h4 style="display: inline; font-size: large;">{{ customer_name}}</h4><br><br />
                        <h3 style="display: inline;font-size: x-large;"><strong>Customer Email : </strong></h3><h4 style="display: inline; font-size: large;">{{ customer_email }}</h4><br /><br />
                        <h2 style="display: inline; font-size: x-large"><strong>Payment Method: {{mode_of_payment}} </strong></h2>
                    </address>
                    <br />
    			</div>
            </div>
              
            <hr />
    		<div class="row">
    			<div class="col-xs-6">
    				<address>
                        
                        
    				</address>
                </div>
                <!-- date sent from view -->
    		
    		</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-md-12">
    		<div class="panel panel-default">
    			<div class="panel-heading">
                    <br><br>
                    <h2 class="panel-title" style="display: inline; font-size: xx-large"><strong>Order summary</strong></h2>
                    <br>
    			</div>
    			<div class="panel-body">
    				<div class="table-responsive">
    					<table class="table table-condensed">
    						<thead>
                                <tr>
        							<td><h3 style="font-size:large"><strong>Name</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Company</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Batch No</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Quantity</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Discount</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Deal</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Tax</strong></h3></td>
                                    <td class="text-center"><h3 style="font-size:large"><strong>Loss</strong></h3></td>
                                    <td class="text-right"><h3 style="font-size:large"><strong>Sale Rate</strong></h3></td>
                                </tr>
                            </thead>
    						<tbody>
                                <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                <hr>
                                {% for product in product_list %}
                                <tr>
                                    <td>{{ product.name }}</td>
                                    <td>{{ product.company }}</td>
                                    <td>{{ product.batch_number }}</td>
                                    <td>{{ product.quantity }}</td>
                                    <td>{{ product.discount }}</td>
                                    <td>{{ product.deal }}</td>
                                    <td>{{ product.tax }}</td>
                                    <td>{{ product.loss }}</td>
                                    <td>{{ product.sale_rate }}</td>
                                </tr>
                                {% endfor %}
    							<tr>
    								<td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
                                    <td class="no-line"></td>
    								<td class="no-line text-center"><strong>Grand Total</strong></td>
    								<td class="no-line text-right">{{total_bill}}</td>
                                </tr>
                            </tbody>

                        </table>
                        <hr>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br />
    <div style="margin-top:80%;"><h1>Proprietor Signature</h1></div>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>