{% extends 'users/base.html' %}

{% block head %}
    <style>
        html, body{
            overflow-x: hidden;
        }
        .input input {
            border-top-style: hidden !important;
            border-right-style: hidden !important;
            border-left-style: hidden !important;
            border-bottom-style: groove !important;
        }
    </style>
    <title>Sale - Billing </title>
{% endblock head %}

{% block content %}
<h3 class="ui center small aligned icon header">
    <i class=" circular clipboard icon"></i>
    <div style="font-size: x-large;">
    Sale
    </div>
</h3>
<br>
<div class="ui equal width form">
    {% csrf_token %}
   <div class="fields">
       <div class="field">
           <div class="ui center aligned small header">Customer Name</div>
           <input name="customer_name" type="text" autocomplete="off" class="ui input focus" placeholder="Customer Name">
       </div>
       <div class="field">
           <div class="ui center aligned small header">Customer Email</div>
           <input name="customer_email" type="text" class="ui input focus" placeholder="Customer Email">
       </div>
       <div class="field">
           <div class="ui center aligned small header">Mode of Payment</div>
           <div  class="ui fluid search selection dropdown paymentMode">
               <input type="hidden" name="mode_of_payment" class="ui input focus">
               <div class="text">Choose..</div>
               <i class="dropdown icon"></i>
               <div class="menu">
                   <div class="item" data-value="1">Cash</div>
                   <div class="item" data-value="2">Card</div>
               </div>
           </div>
       </div>
       <div class="field">
           <div class="ui center aligned small header">Total</div>
           <input name="total_bill" type="text" class="ui input focus" id="total_sale_bill" placeholder="Total Price">
       </div>
   </div>
</div>
<br>
        <table class="ui stripped table">
            <thead>
                <tr>
                    <th class='ui center aligned small header'>Product Name</th>
                    <th class='ui center aligned small header'>Company</th>
                    <th class='ui center aligned small header'>Batch</th>
                    <th class='ui center aligned small header'>Quantity</th>
                    <th class='ui center aligned small header'>Discount</th>
                    <th class='ui center aligned small header'>Deal</th>
                    <th class='ui center aligned small header'>Tax</th>
                    <th class='ui center aligned small header'>Sale Rate</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style='width:13vw'>
                        <div id="0" class="ui fluid search selection dropdown medname Cal_Total">
                            <input type="hidden" name="name" >
                            <div class="text">Choose..</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">

                            </div>
                        </div>
                    </td>
                    <td style='width:12vw'>
                        <div id="1" class="ui fluid selection dropdown Cal_Total">
                            <input type="hidden"  name="company">
                            <div class="text">Choose..</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">

                            </div>
                        </div>
                    </td>
                    <td style='width:10vw'>
                        <div id="2" class="ui fluid selection dropdown Cal_Total">
                            <input type="hidden"  name="batch_no">
                            <div class="text">Choose..</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">

                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="ui input">
                            <input class='no-outline Cal_Total' id="3" name="quantity" placeholder="Quantity" autocomplete="off">
                        </div>
                    </td>
                    <td>
                        <div class="ui input "><input name="discount" id="6" placeholder="Discount" class="Cal_Total"></div>
                    </td>
                    <td>
                        <div class="ui input"><input name="deal" id="7" placeholder="Deal" class="Cal_Total"></div>
                    </td>
                    <td>
                        <div class="ui input"><input id ="4" name="tax" placeholder="Tax" class="Cal_Total"></div>
                    </td>
                    <td>
                        <div class="ui input"><input id ="5" name="sale_rate" placeholder="Sale Rate" class="Cal_Total"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <br><br>
        <div class="ui center aligned grid">
            <div class="ui positive large button submit" style="padding:10px 30px">Submit</div>
            <div class="ui primary large button add" style="padding:10px 30px">Add</div>
        </div>

    <script>
            
            
            
            $('.paymentMode').dropdown();

            // count is id of latest medname added 
            var n = 0;

            //number of rows right now
            var count =0;


            // add button
            $(document).on('click', '.ui.button.add', function() {

                // +4 is done for because sale_rate id of last row is +3 of medname id
                count+=1;

                n+=8;

                //for company id
                c=n+1;

                // for batch_no id
                b=c+1;

                // for Quantity
                quan=b+1;

                //for tax
                t=quan+1;

                //for sale rate id
                s=t+1;


                // discount index to be used in template (add button)
                dis_ind_template = s+1;

                // deal index to be used in template (add button)
                deal_index_template = dis_ind_template + 1;



                //c is the id of ul in the med name just for template
                var template = '<tr>\
                    <td style="width:13vw">\
                        <div id='+ n +' class="ui fluid search selection dropdown medname Cal_Total">\
                            <input type="hidden" name="name">\
                            <div class="text">Choose..</div>\
                            <i class="dropdown icon"></i>\
                            <div class="menu">\
                            </div>\
                        </div>\
                    </td>\
                    <td style="width:12vw">\
                        <div id='+ c +' class="ui fluid selection dropdown Cal_Total">\
                            <input type="hidden"  name="company">\
                            <div class="text">Choose..</div>\
                            <i class="dropdown icon"></i>\
                            <div class="menu">\
                            </div>\
                        </div>\
                    </td>\
                    <td style="width:10vw">\
                        <div id='+ b + ' class="ui fluid selection dropdown Cal_Total">\
                            <input type="hidden"  name="batch_no">\
                            <div class="text">Choose..</div>\
                            <i class="dropdown icon"></i>\
                            <div class="menu">\
                            </div>\
                        </div>\
                    </td>\
                    <td>\
                        <div class="ui input">\
                            <input name="quantity" id='+ quan +' placeholder="Quantity" class="Cal_Total">\
                        </div>\
                    </td>\
                    <td>\
                        <div class="ui input"><input name="discount" id='+ dis_ind_template + ' placeholder="Discount" class="Cal_Total"></div>\
                    </td>\
                    <td>\
                        <div class="ui input"><input name="deal" id=' + deal_index_template + ' placeholder="Deal" class="Cal_Total"></div>\
                    </td>\
                    <td>\
                        <div class="ui input"><input id ='+ t +' name="tax" placeholder="Tax" class="Cal_Total"></div>\
                    </td>\
                    <td>\
                        <div class="ui input"><input id ='+ s +' name="sale_rate" placeholder="Sale Rate" class="Cal_Total"></div>\
                    </td>\
                    <td>\
                        <i class="close icon"></i>\
                    </td>\
                </tr>';
        
        
                //adding the template everytime add button is clicked
                  $(template).appendTo('tbody');
        
           
           
                // Total Price Calculation
                $('.Cal_Total').change(
                   function(e)
                   {
                    c= count;
                    x = 0;
                    tot=0;
                    var i;
                    
                    for(i=0;i<=c;i++)
                    {
                        sale_rate_index = x+5;
                        tax_index = x+4;
                        deal_index = x+7;
                        discount_index = x+6;
                        quantity_index = x+3;

                        temp =0;
                        
                        // Base Price Calculation
                        base = parseFloat(document.getElementById(sale_rate_index).value) * parseFloat(document.getElementById(quantity_index).value);
                        
                        // Discount Calculation
                        discount = base * parseFloat(document.getElementById(discount_index).value)/100;
                        
                        // Tax Calculation
                        tax = base * parseFloat(document.getElementById(tax_index).value)/100;

                        // Final Equation
                        temp += base - discount + tax;
                    
                    
                          if(!(isNaN(temp))) // if temp is not NaN then add temp to tot (temp - > Row wise formula, Total -> all the columns' Temp)
                            {
                                    tot+=temp;
                            }  

                        x+=8;
                        // alert(discount);
                    }

                  
                    if(isNaN(tot)){
                        $('#total_sale_bill').val(0); // if tot is  NaN  then make it 0 else the value
                    }
                    else{
                        $('#total_sale_bill').val(tot);
                    }
               });


                //fetching data from backend for the med name field added using the add button only on every key stroke
            $(document).ready(function(){

                $(".medname").click(function(){
                    

                    //setting id of currrent active medicine field
                    med_id=$(this).attr('id'); // getting id for the field

                    med_company_id=String(Number(med_id)+1);

                    med_batch_id=String(Number(med_company_id)+1);

                    med_tax_id=String(Number(med_batch_id)+2);

                    med_sale_rate_id=String(Number(med_tax_id)+1);

                    $('#'+med_id+' .menu').html('');

                    $.ajax({
                        url: "getMedName/",
                        type: "GET",
                        datatype:'json',
                        success: function(response){
                            $('#'+med_id+' .menu').html('');
                            $.each(response,function(key,value){
                                $('#'+med_id+' .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                            });
                            $('#'+med_id).dropdown();
                            $('#'+med_id + ' .item').click(function(){
                                med_name=$(this).data("value");
                                $('#'+med_company_id+' .menu').html('');
                                $.ajax({
                                    url: "getMedCompany/",
                                    type: "GET",
                                    datatype:'json',
                                    data:{medName:med_name},
                                    success: function(response)
                                    {

                                        $('#'+med_company_id+' .menu').html('');
                                        $.each(response,function(key,value){
                                            $('#'+med_company_id+' .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                        });
                                        $('#'+med_company_id).dropdown();


                                        $('#'+med_company_id+' .item').click(function(){
                                            med_company=$(this).data("value");
                                            $('#'+med_batch_id+' .menu').html('');

                                            $.ajax({
                                                url: "getMedBatch/",
                                                type: "GET",
                                                datatype:'json',
                                                data:{medName:med_name,medCompany:med_company},
                                                success: function(response){
                                                    $('#'+med_batch_id+' .menu').html('');
                                                    $.each(response,function(key,value){
                                                        $('#'+med_batch_id+' .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                                    });
                                                    $('#'+med_batch_id).dropdown();
                                                }
                                            });

                                            $.ajax({
                                                url: "getMedSaleRate&Tax/",
                                                type: "GET",
                                                datatype:'json',
                                                data:{medName:med_name,medCompany:med_company},
                                                success: function(response){
                                                    //tax
                                                    $("#"+med_tax_id).val(response[1]);

                                                    //sale rate
                                                   $("#"+med_sale_rate_id).val(response[0]);
                                                }
                                            });
                                            
                                            $.ajax({
                                                url:"getquantity/",
                                                type:"GET",
                                                datatype:"json",
                                                data:
                                                {
                                                    medName:med_name,
                                                    medCompany:med_company,
                                                    batch_no:batch_no,
                                                },
                                                success: function(response)
                                                    {
                                                        confirm("Hello!");
                                                        
                                                    }
                                            });
                                            
                                            
                                          

                                        });
                                    }
                                });
        
                            });
                        }
                        });
                    });
        
                });
            });
            
            
            $('.Cal_Total').change(
                   function(e)
                   {
                    c= count;
                    x = 0;
                    tot=0;
                    var i;
                    for(i=0;i<=c;i++)
                    {
                        sale_rate_index = x+5;
                        tax_index = x+4;
                        deal_index = x+7;
                        discount_index = x+6;
                        quantity_index = x+3;

                        temp =0;

                        // Base Price Calculation
                        base = parseFloat(document.getElementById(sale_rate_index).value) * parseFloat(document.getElementById(quantity_index).value);

                        // Discount Calculation
                        discount = base * parseFloat(document.getElementById(discount_index).value)/100;

                        // Tax Calculation
                        tax = base * parseFloat(document.getElementById(tax_index).value)/100;

                        // Final Equation
                        temp += base - discount + tax;
                    
                    
                          if(!(isNaN(temp))) // if temp is not NaN then add temp to tot (temp - > Row wise formula, Total -> all the columns' Temp)
                            {
                                    tot+=temp;
                            }  

                        x+=8;
                        // document.write(base);
                    }

                  
                    if(isNaN(tot)){
                        $('#total_sale_bill').val(0); // if tot is  NaN  then make it 0 else the value
                    }
                    else{
                        $('#total_sale_bill').val(tot);
                    }
               });


            //submit button
            $(document).on('click','.ui.submit.button',function(e){
                e.preventDefault();
        
                var name=[];
                $("input[name='name']").each(function(){
                    name.push(this.value);
                });
                var company=[];
                $("input[name='company']").each(function(){
                    company.push(this.value);
                });
                var batch_no=[];
                $("input[name='batch_no']").each(function(){
                    batch_no.push(this.value);
                });
        
                var quantity=[];
                $("input[name='quantity']").each(function(){
                    quantity.push(this.value);
                });
        
                var discount=[];
                $("input[name='discount']").each(function(){
                    discount.push(this.value);
                });
        
                var deal=[];
                $("input[name='deal']").each(function(){
                    deal.push(this.value);
                });
        
                var tax=[];
                $("input[name='tax']").each(function(){
                    tax.push(this.value);
                });
                
                  
                var sale_rate=[];
                $("input[name='sale_rate']").each(function(){
                    sale_rate.push(this.value);
                });


                //loss
                var loss=[];
                $.ajax({
                    url: "computeloss/",
                    type: "GET",
                    traditional : true,
                    datatype:'json',

                    //synchronous
                    async: false,
                    data:{medName : name , medCompany : company , batch_no : batch_no , sale_rate : sale_rate},
                    success: function(response){
                        $.each(response,function(key,value){
                            loss.push(value);
                        });
                    }
                });
    
                
                
                $.ajax({
                    type : 'POST',
                    dataType : "json",
                    traditional : true,
                    url : 'create/',
                    data:{
                        customer_name : document.getElementsByName('customer_name')[0].value ,
                        customer_email : document.getElementsByName('customer_email')[0].value,
                        mode_of_payment : document.getElementsByName('mode_of_payment')[0].value,
                        total_bill : document.getElementsByName('total_bill')[0].value,
                        name : name,
                        company:company,
                        batch_number : batch_no,
                        quantity : quantity,
                        discount : discount,
                        deal : deal,
                        tax : tax,
                        loss : loss,
                        sale_rate : sale_rate,
                        csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success:function(){
                        alert('created bill sale');
                        
                    },
                    error:function(){
                        
                    }
        
                });
            });



            //fetching data for the first Medicine Name Field
            $(document).ready(function(){
                $(".medname").click(function(){
                    //setting id of currrent active medicine field
                    med_id="0";
                    $('#0 .menu').html('');
                    $.ajax({
                        url: "getMedName/",
                        type: "GET",
                        datatype:'json',
                        success: function(response){
                            $('#0 .menu').html('');
                            $.each(response,function(key,value){
                                $('#0 .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                            });
                            $('#0').dropdown(); 
                            $('#0 .item').click(function(){
                                med_name=$(this).data("value");
                                $('#1 .menu').html('');
                                $.ajax({
                                    url: "getMedCompany/",
                                    type: "GET",
                                    datatype:'json',
                                    data:{medName:med_name},
                                    success: function(response){
                                        $('#1 .menu').html('');
                                        $.each(response,function(key,value){
                                            $('#1 .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                        });
                                        $('#1').dropdown();
                                        $('#1 .item').click(function(){
                                            med_company=$(this).data("value");
                                            $('#2 .menu').html('');

                                            $.ajax({
                                                url: "getMedBatch/",
                                                type: "GET",
                                                datatype:'json',
                                                data:{medName:med_name,medCompany:med_company},
                                                success: function(response){
                                                    $('#2 .menu').html('');
                                                    $.each(response,function(key,value){
                                                        $('#2 .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                                    });
                                                    $('#2').dropdown();
                                                }
                                            });

                                            $.ajax({
                                                url: "getMedSaleRate&Tax/",
                                                type: "GET",
                                                datatype:'json',
                                                data:{medName:med_name,medCompany:med_company},
                                                success: function(response){

                                                    // tax
                                                    $("#4").val(response[1]);


                                                    // sale rate
                                                   $("#5").val(response[0]);
                                                   
                                                }
                                            });
                                        });
                                    }
                                });
                            });
                        }
                    });
                });
            });  
    // remove row    
    $(document).on('click','.close.icon',function(){
        $(this).parent('td').parent('tr').remove();
        count-=1; 
        n-=1;
    });
</script>
{% endblock content %}
