{% extends 'users/base.html' %}
{% block head %}        
    <title>Sale</title>
{% endblock head %}
{% block content %}  

<div class="ui two wide column grid  raised segment">
    <div class="ui inverted center aligned column grid raised segment">
     
         <h1>Sale</h1>
         <div class="ui inverted segment">
         <div class="ui inverted form">
             {% csrf_token %}
            <div class=" four fields">
                <div class="field">
                    <label>Customer Name</label>
                    <input name="customer_name" type="text" autocomplete="off" class="ui input focus" placeholder="Customer Name">
                </div>
                <div class="field">
                    <label>Customer Email</label>
                    <input name="customer_email" type="text" class="ui input focus" placeholder="Customer Email">>
                </div>
                <div class="field">
                    <label>Mode of Payment</label>
                    <div  class="ui fluid search selection dropdown paymentMode">
                        <input type="hidden" name="mode_of_payment" class="ui input focus">
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="1">Cash</div>
                            <div class="item" data-value="2">Card</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Total</label>
                    <input name="total_bill" type="text" class="ui input focus" placeholder="Total Price">
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="fields">
                <!-- Medcine Name field which is dropdown  -->
                <div class="five wide field">
                    <label>Name</label>
                    <div id="0" class="ui fluid search selection dropdown medname">
                        <input type="hidden" name="name" class="ui input focus">
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Company</label>
                    <div id="1" class="ui fluid selection dropdown">
                        <input type="hidden" name="company" class="ui input focus">
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Batch</label>
                    <div id="2" class="ui fluid selection dropdown">
                        <input type="hidden" name="batch_no" class="ui input focus">
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Quantity</label>
                    <input name="quantity" type="text" class="ui input focus" placeholder="Quantity">
                </div>
                <div class="field">
                    <label>Discount</label>
                    <input name="discount" type="text" class="ui input focus" placeholder="Discount">
                </div>
                <div class="field">
                    <label>Deal</label>
                    <input name="deal" type="text" class="ui input focus" placeholder="Deal">
                </div>
                <div class="field">
                    <label>Tax</label>
                    <input name="tax" type="text" class="ui input focus" placeholder="Tax">
                </div>
                <div class="two wide field">
                    <label>Loss</label>
                    <div  class="ui fluid search selection dropdown loss">
                        <input type="hidden" name="loss" class="ui input focus">
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="True">True</div>
                            <div class="item" data-value="False">False</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Sale Rate</label>
                    <input id ="3" name="sale_rate" type="text" class="ui input focus" placeholder="Sale Rate">
                </div>
                <div class="field">
                    <div class="ui  vertical disabled basic black animated button">
                        <div class="visible content">
                        <i class="minus icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui positive submit button">Submit</div>
            <div class="ui button add">Add</div>
            <div class="ui error message"></div> 
        </div>
    </div>
    </div>
  
</div>




<script>
    $('.paymentMode').dropdown();
    $('.loss').dropdown()

    // count keeps track of  the number of Medicine added 
    var count = 0;

    //med_id keeps track of the id og medicine name field addded the input field
    var med_id;

    //keeps track of the ul inside the medicine name field
    var c=0;
    var d=0


    // add button
    $(document).on('click', '.ui.button.add', function() {
        //count is the id of input in med name just for template
        count+=4;
        c=count+1;
        b=c+1;
        s=b+1;

        //c is the id of ul in the med name just for template
        var template = '<div class="fields">\
            <div class="five wide field">\
                    <label>Name</label>\
                    <div id='+count+' class="ui fluid search selection dropdown medname">\
                        <input type="hidden" name="name" class="ui input focus">\
                        <div class="text">Choose..</div>\
                        <i class="dropdown icon"></i>\
                        <div class="menu">\
                        </div>\
                    </div>\
            </div>\
            <div class="field">\
                    <label>Company</label>\
                    <div id='+c+' class="ui fluid selection dropdown">\
                        <input type="hidden" name="company" class="ui input focus">\
                        <div class="text">Choose..</div>\
                        <i class="dropdown icon"></i>\
                        <div class="menu">\
                        </div>\
                    </div>\
            </div>\
            <div class="field">\
                <label>Batch</label>\
                <div id='+b+' class="ui fluid selection dropdown">\
                    <input type="hidden" name="batch_no" class="ui input focus" >\
                    <div class="text">Choose..</div>\
                    <i class="dropdown icon"></i>\
                    <div class="menu">\
                    </div>\
                </div>\
            </div>\
            <div class="field">\
                <label>Quantity</label>\
                <input name="quantity" type="text" class="ui input focus" placeholder="Quantity">\
            </div>\
            <div class="field">\
                <label>Discount</label>\
                <input name="discount" type="text" class="ui input focus" placeholder="Discount">\
            </div>\
            <div class="field">\
                <label>Deal</label>\
                <input name="deal" type="text" class="ui input focus" placeholder="Deal">\
            </div>\
            <div class="field">\
                <label>Tax</label>\
                <input name="tax" type="text" class="ui input focus" placeholder="Tax">\
            </div>\
            <div class=" two wide field">\
                <label>Loss</label>\
                <div  class="ui fluid search selection dropdown loss">\
                        <input type="hidden" name="loss" class="ui input focus">\
                        <div class="text">Choose..</div>\
                        <i class="dropdown icon"></i>\
                        <div class="menu">\
                            <div class="item" data-value="True">True</div>\
                            <div class="item" data-value="False">False</div>\
                        </div>\
                </div>\
            </div>\
            <div class="field">\
                <label>Sale Rate</label>\
                <input id='+s+' name="sale_rate" type="text" class="ui input focus" placeholder="Sale Rate">\
            </div>\
            <div class="field">\
            <label>Remove</label>\
            <div class="ui  vertical basic negative animated button">\
                <div class="hidden content">Remove</div>\
                <div class="visible content">\
                <i class="minus icon"></i>\
                </div>\
            </div>\
            </div>\
        </div>';


        //adding the template everytime add button is clicked
        $(template).insertBefore('.ui.submit');
        $('.loss').dropdown()

        //fetching data from backend for the med name field added using the add button only on every key stroke
        $(document).ready(function(){
        $(".medname").click(function(){
            //setting id of currrent active medicine field
            med_id=$(this).attr('id');
            med_company_id=String(Number(med_id)+1);
            med_batch_id=String(Number(med_company_id)+1);
            med_sale_rate_id=String(Number(med_batch_id)+1);
            $('#'+med_id+' .menu').html('');
            $.ajax({
                url: "getMedName/",
                type: "GET",
                datatype:'json',
                success: function(response){
                    $.each(response,function(key,value){
                        $('#'+med_id+' .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                    });
                    $('#'+med_id).dropdown();
                    $('#'+med_id + ' .item').click(function(){
                        med_name=$(this).data("value");
                        $('#'+med_company_id+' .menu').html('');
                        $.ajax({
                            url: "getMedCompany/",
                            type: "GET",
                            datatype:'json',
                            data:{medName:med_name},
                            success: function(response){
                                $.each(response,function(key,value){
                                    $('#'+med_company_id+' .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                });
                                $('#'+med_company_id).dropdown();
                                $('#'+med_company_id+' .item').click(function(){
                                    med_company=$(this).data("value");
                                    $('#'+med_batch_id+' .menu').html('');
                                    $.ajax({
                                        url: "getMedBatch/",
                                        type: "GET",
                                        datatype:'json',
                                        data:{medName:med_name,medCompany:med_company},
                                        success: function(response){
                                            $.each(response,function(key,value){
                                                $('#'+med_batch_id+' .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                            });
                                            $('#'+med_batch_id).dropdown();
                                        }
                                    });
                                    $.ajax({
                                        url: "getMedSaleRate/",
                                        type: "GET",
                                        datatype:'json',
                                        data:{medName:med_name,medCompany:med_company},
                                        success: function(response){
                                           $("#"+med_sale_rate_id).val(response);
                                        }
                                    });
                                });
                            }
                        });

                    });

                }
                });
            });

        });
    });
    

    //remove button for removing the added medicine field
    $(document).on('click','.ui.vertical.basic.negative.animated.button',function(){
       $(this).parent('div').parent('div').remove();
       count-=1; 
    });

    //submit button
    $(document).on('click','.ui.submit.button',function(e){
        e.preventDefault();

        var name=[];
        $("input[name='name']").each(function(){
            name.push(this.value);
        });
        var company=[];
        $("input[name='company']").each(function(){
            company.push(this.value);
        });
        var batch_no=[];
        $("input[name='batch_no']").each(function(){
            batch_no.push(this.value);
        });

        var quantity=[];
        $("input[name='quantity']").each(function(){
            quantity.push(this.value);
        });

        var discount=[];
        $("input[name='discount']").each(function(){
            discount.push(this.value);
        });

        var deal=[];
        $("input[name='deal']").each(function(){
            deal.push(this.value);
        });

        var tax=[];
        $("input[name='tax']").each(function(){
            tax.push(this.value);
        });

        var loss=[];
        $("input[name='loss']").each(function(){
            loss.push(this.value);
        });

        var sale_rate=[];
        $("input[name='sale_rate']").each(function(){
            sale_rate.push(this.value);
        });
        $.ajax({
            type : 'POST',
            dataType : "json",
            traditional : true,
            url : 'create/',
            data:{
                customer_name : document.getElementsByName('customer_name')[0].value ,
                customer_email : document.getElementsByName('customer_email')[0].value,
                mode_of_payment : document.getElementsByName('mode_of_payment')[0].value,
                total_bill : document.getElementsByName('total_bill')[0].value,
                name : name,
                company:company,
                batch_number : batch_no,
                quantity : quantity,
                discount : discount,
                deal : deal,
                tax : tax,
                loss : loss,
                sale_rate : sale_rate,
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                alert('created bill sale');
                
            },
            error:function(){
                
            }

        });
    });
    //fetching data for the first Medicine Name Field
    $(document).ready(function(){
        $(".medname").click(function(){
            //setting id of currrent active medicine field
            med_id="0";
            $('#0 .menu').html('');
            $.ajax({
                url: "getMedName/",
                type: "GET",
                datatype:'json',
                success: function(response){
                    $.each(response,function(key,value){
                        $('#0 .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                    });
                    $('#0').dropdown();
                    $('#0 .item').click(function(){
                        med_name=$(this).data("value");
                        $('#1 .menu').html('');
                        $.ajax({
                            url: "getMedCompany/",
                            type: "GET",
                            datatype:'json',
                            data:{medName:med_name},
                            success: function(response){
                                $.each(response,function(key,value){
                                    $('#1 .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                });
                                $('#1').dropdown();
                                $('#1 .item').click(function(){
                                    med_company=$(this).data("value");
                                    $('#2 .menu').html('');
                                    $.ajax({
                                        url: "getMedBatch/",
                                        type: "GET",
                                        datatype:'json',
                                        data:{medName:med_name,medCompany:med_company},
                                        success: function(response){
                                            $.each(response,function(key,value){
                                                $('#2 .menu').append('<div class="item" data-value='+value+'>'+value+'</div>');
                                            });
                                            $('#2').dropdown();
                                        }
                                    });
                                    $.ajax({
                                        url: "getMedSaleRate/",
                                        type: "GET",
                                        datatype:'json',
                                        data:{medName:med_name,medCompany:med_company},
                                        success: function(response){
                                           $("#3").val(response);
                                        }
                                    });
                                });
                            }
                        });
                    });
                }
            });
        });
    });  


</script>

{% endblock content %}