{% extends 'users/base.html' %}
{% block head %}        
    <title>Sale</title>
{% endblock head %}
{% block content %}  

<div class="ui two wide column grid  raised segment">
    <div class="ui center aligned column grid raised segment">
     
         <h1>Sale</h1>
         <form class="ui form">
             {% csrf_token %}
            <div class=" four fields">
                <div class="field">
                    <label>Customer Name</label>
                    <input name="customer_name" type="text" autocomplete="off">
                </div>
                <div class="field">
                    <label>Customer Email</label>
                    <input name="customer_email" type="text">
                </div>
                <div class="field">
                    <label>Mode of Payment</label>
                    <select class="ui dropdown" name="mode_of_payment">
                    <option value="">Select</option>
                    <option value="1">Cash</option>
                    <option value="2">Card</option>
                    </select>
                </div>
                <div class="field">
                    <label>Total</label>
                    <input name="total_bill" type="text">
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="ui hidden divider"></div>
            <div class="fields">
                <!-- Medcine Name field which is dropdown  -->
                <div class="five wide field">
                    <label>Name</label>
                    <div id="0" class="ui fluid search selection dropdown">
                        <input type="hidden" name="name" >
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="select">Choose..</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Batch No</label>
                    <div id="1" class="ui fluid selection dropdown">
                        <input type="hidden" name="batch_no" >
                        <div class="text">Choose..</div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <div class="item" data-value="select">Choose..</div>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Quantity</label>
                    <input name="quantity" type="text">
                </div>
                <div class="field">
                    <label>Discount</label>
                    <input name="discount" type="text">
                </div>
                <div class="field">
                    <label>Deal</label>
                    <input name="deal" type="text">
                </div>
                <div class="field">
                    <label>Tax</label>
                    <input name="tax" type="text">
                </div>
                <div class="field">
                    <label>Loss</label>
                    <input name="loss" type="text">
                </div>
                <div class="field">
                    <label>Sale Rate</label>
                    <input id ="2" name="sale_rate" type="text">
                </div>
            </div>
            <div class="ui positive submit button">Submit</div>
            <div class="ui button add">Add</div>
            <div class="ui error message"></div> 
        </form>
    </div>
  
</div>




<script>
    // count keeps track of  the number of Medicine added 
    var count = 0;

    //med_id keeps track of the id og medicine name field addded the input field
    var med_id;

    //keeps track of the ul inside the medicine name field
    var c=0;
    var d=0


    // add button
    $(document).on('click', '.ui.button.add', function() {
        //count is the id of input in med name just for template
        count+=3;
        c=count+1;
        d=c+1
        //c is the id of ul in the med name just for template
        var template = '<div class="fields">\
            <div class="five wide field">\
                    <label>Name</label>\
                    <div id='+count+' class="ui fluid search selection dropdown">\
                        <input type="hidden" name="name">\
                        <div class="text">Choose..</div>\
                        <i class="dropdown icon"></i>\
                        <div class="menu">\
                            <div class="item" data-value="select">Choose..</div>\
                        </div>\
                    </div>\
            </div>\
            <div class="field">\
                <label>Batch No</label>\
                <div id='+c+' class="ui fluid selection dropdown">\
                    <input type="hidden" name="batch_no" >\
                    <div class="text">Choose..</div>\
                    <i class="dropdown icon"></i>\
                    <div class="menu">\
                        <div class="item" data-value="select">Choose..</div>\
                    </div>\
                </div>\
            </div>\
            <div class="field">\
                <label>Quantity</label>\
                <input name="quantity" type="text">\
            </div>\
            <div class="field">\
                <label>Discount</label>\
                <input name="discount" type="text">\
            </div>\
            <div class="field">\
                <label>Deal</label>\
                <input name="deal" type="text">\
            </div>\
            <div class="field">\
                <label>Tax</label>\
                <input name="tax" type="text">\
            </div>\
            <div class="field">\
                <label>Loss</label>\
                <input name="loss" type="text">\
            </div>\
            <div class="field">\
                <label>Sale Rate</label>\
                <input id='+d+' name="sale_rate" type="text">\
            </div>\
            <div class="field">\
            <div class="ui vertical basic negative animated button">\
                <div class="hidden content">Remove</div>\
                <div class="visible content">\
                <i class="minus icon"></i>\
                </div>\
            </div>\
            </div>\
        </div>';


        //adding the template everytime add button is clicked
        $(template).insertBefore('.ui.submit');


        //fetching data from backend for the med name field added using the add button only on every key stroke
        $(document).ready(function(){
        $(".ui.fluid.search.selection.dropdown").hover(function(){
            //setting id of currrent active medicine field
            med_id=$(this).attr('id');
            med_batch_id=String(Number(med_id)+1);
            med_sale_rate_id=String(Number(med_batch_id)+1);
            $('#'+med_id+' .menu').html('<div class="item" data-value="select">Choose..</div>');
            $.ajax({
                url: "getMedName/",
                type: "GET",
                datatype:'json',
                success: function(response){
                    $.each(response,function(key,value){
                        $('#'+med_id+' .menu').append('<div class="item" data-value='+value.fields.name+'>'+value.fields.name+'</div>');
                    });
                    $('#'+med_id).dropdown();
                    $('#'+med_id + ' .item').click(function(){
                        med_name=$(this).data("value");
                        $('#'+med_batch_id+' .menu').html('<div class="item" data-value="select">Choose..</div>');
                        $.ajax({
                            url: "getMedBatch/",
                            type: "GET",
                            datatype:'json',
                            data:{medName:med_name},
                            success: function(response){
                                $.each(response,function(key,value){
                                    $('#'+med_batch_id+' .menu').append('<div class="item" data-value='+value.fields.batch_number+'>'+value.fields.batch_number+'</div>');
                                });
                                $('#'+med_batch_id).dropdown();
                            }
                        });
                        $.ajax({
                            url: "getMedSaleRate/",
                            type: "GET",
                            datatype:'json',
                            data:{medName:med_name},
                            success: function(response){
                                $("#"+med_sale_rate_id).val(response);
                                
                            }
                        });

                    });

                }
                });
            });

        });
    });
    

    //remove button for removing the added medicine field
    $(document).on('click','.ui.vertical.basic.negative.animated.button',function(){
       $(this).parent('div').parent('div').remove();
       count-=1; 
    });

    //submit button
    $(document).on('click','.ui.submit.button',function(e){
        e.preventDefault();

        var name=[];
        $("input[name='name']").each(function(){
            name.push(this.value);
        });

        var batch_no=[];
        $("input[name='batch_no']").each(function(){
            batch_no.push(this.value);
        });

        var quantity=[];
        $("input[name='quantity']").each(function(){
            quantity.push(this.value);
        });

        var discount=[];
        $("input[name='discount']").each(function(){
            discount.push(this.value);
        });

        var deal=[];
        $("input[name='deal']").each(function(){
            deal.push(this.value);
        });

        var tax=[];
        $("input[name='tax']").each(function(){
            tax.push(this.value);
        });

        var loss=[];
        $("input[name='loss']").each(function(){
            loss.push(this.value);
        });

        var sale_rate=[];
        $("input[name='sale_rate']").each(function(){
            sale_rate.push(this.value);
        });

        $.ajax({
            type : 'POST',
            dataType : "json",
            traditional : true,
            url : 'create/',
            data:{
                customer_name : document.getElementsByName('customer_name')[0].value ,
                customer_email : document.getElementsByName('customer_email')[0].value,
                mode_of_payment : document.getElementsByName('mode_of_payment')[0].value,
                total_bill : document.getElementsByName('total_bill')[0].value,
                name : name,
                batch_number : batch_no,
                quantity : quantity,
                discount : discount,
                deal : deal,
                tax : tax,
                loss : loss,
                sale_rate : sale_rate,
                csrfmiddlewaretoken : $('input[name=csrfmiddlewaretoken]').val()
            },
            success:function(){
                alert('created bill sale');
                
            },
            error:function(){
                
            }

        });
    });
    //fetching data for the first Medicine Name Field
    $(document).ready(function(){
        $(".ui.fluid.selection.dropdown").hover(function(){
            //setting id of currrent active medicine field
            med_id="0";
            $('#0 .menu').html('<div class="item" data-value="select">Choose..</div>');
            $.ajax({
                url: "getMedName/",
                type: "GET",
                datatype:'json',
                success: function(response){
                    $.each(response,function(key,value){
                        $('#0 .menu').append('<div class="item" data-value='+value.fields.name+'>'+value.fields.name+'</div>');
                    });
                    $('#0').dropdown();
                    $('#0 .item').click(function(){
                        med_name=$(this).data("value");
                        $('#1 .menu').html('<div class="item" data-value="select">Choose..</div>');
                        $.ajax({
                            url: "getMedBatch/",
                            type: "GET",
                            datatype:'json',
                            data:{medName:med_name},
                            success: function(response){
                                $.each(response,function(key,value){
                                    $('#1 .menu').append('<div class="item" data-value='+value.fields.batch_number+'>'+value.fields.batch_number+'</div>');
                                });
                                $('#1').dropdown();
                            }
                        });
                        $.ajax({
                            url: "getMedSaleRate/",
                            type: "GET",
                            datatype:'json',
                            data:{medName:med_name},
                            success: function(response){
                                $("#2").val(response);
                                
                            }
                        });

                    });
                }
            });
        });
    });    
</script>

{% endblock content %}